<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Gemcom.Klabr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Gemcom.Klabr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Gemcom.Klabr.Properties.Settings>
   <setting name="MainWindowLeft" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="MainWindowTop" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="MainWindowWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="MainWindowHeight" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SubscribeWindowLeft" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SubscribeWindowTop" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SubscribeWindowWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SubscribeWindowHeight" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ReplyWindowLeft" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ReplyWindowTop" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ReplyWindowWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ReplyWindowHeight" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="DefaultDomain" serializeAs="String">
    <value>gemcomsoftware</value>
   </setting>
   <setting name="DefaultUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="DiscussionFilter" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="NotificationInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopicViewColumnWidth1" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopicViewColumnWidth2" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopicViewColumnWidth3" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopicViewColumnWidth4" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopicViewColumnWidth5" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth1" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth2" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth3" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth4" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth5" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth6" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth7" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscussionViewColumnWidth8" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Signature" serializeAs="String">
    <value>--Posted using Klabr--</value>
   </setting>
   <setting name="AlertBox" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PollingInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopicViewSelectedDiscussion" serializeAs="String">
    <value>00000000-0000-0000-0000-000000000000</value>
   </setting>
   <setting name="AutoLoadTopics" serializeAs="String">
    <value>True</value>
   </setting>
  </Gemcom.Klabr.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Gemcom.Klabr.Properties.Settings>
   <setting name="PortalUrl" serializeAs="String">
    <value>https://services.gemcomportal.com/</value>
   </setting>
   <setting name="SubscribedDiscussionsFile" serializeAs="String">
    <value>SubscribedDiscussions.xml</value>
   </setting>
   <setting name="DiscussionsFile" serializeAs="String">
    <value>Discussions.xml</value>
   </setting>
   <setting name="WebUrl" serializeAs="String">
    <value>https://www.gemcomportal.com/</value>
   </setting>
   <setting name="LogFile" serializeAs="String">
    <value>Log.txt</value>
   </setting>
   <setting name="PublishedDiscussionsUrl" serializeAs="String">
    <value>http://www.gemcomportal.com/sites/department/Product%20Development/</value>
   </setting>
   <setting name="PublishedDiscussionsListName" serializeAs="String">
    <value>Discussion Boards</value>
   </setting>
  </Gemcom.Klabr.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
